.banner {
    color: maroon;
    background-color: burlywood;
    border: solid;
    border-color: rgb(101, 13, 7);
    margin: 5px;
    padding:10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.map {order:2;}

.left {
    padding: 20px;
    float:left;
}

.right {
    margin: 5px; 
    padding: 20px; 
    float:right;
}