.banner {
    color: maroon;
    background-color: burlywood;
    border: solid;
    border-color: rgb(101, 13, 7);
    margin: 5px;
    padding:10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

a:link {
  color: rgb(234, 157, 2);
  background-color: transparent;
}

a:visited {
  color: pink;
  background-color: transparent;
}

h2 {
    background-color:burlywood;
    color: maroon;
    padding-left: 10px;
}

.left {
    padding: 20px;
    float:left;
}

.right {
    margin: 5px; 
    padding: 20px; 
    float:right;
}

body {
    background-color: rgb(50, 29, 29);
    color: rgb(231, 185, 3)
}